{{yield}}
{{#power-select
  class="text-muted"
  placeholder="Search neurons"
  allowClear=true
  selected=selectedAutocompleteNeuron
  search=(action "searchNeurons")
  oninput=(action "skipShortSearches")
  onchange=(action "setAutocompleteNeuron")
  extra=(hash labelPath="title")
  as |autocompleteNeuron|}}
  <span class="text-muted">{{autocompleteNeuron.title}}</span>
  <span class="label label-info">{{autocompleteNeuron.type}}</span>
{{/power-select}}
