<footer class="bg-faded p-t-1 p-b-1 footer">
  <div class="container">
    <div class="footer-mainmenu ">
      <div class="footer-menu-column">
        <div class="footer-menu-header">Продукти</div>
        <div class="footer-menu-item"><a href="/product/livarava-neuronet/">LivaRava Neuronet</a></div>
        <div class="footer-menu-item"><a href="/product/livarava-framework/">LivaRava Framework</a></div>
        <div class="footer-menu-item"><a href="/product/livarava-extension/">LivaRava Extension</a></div>
      </div>
      <div class="footer-menu-column">
        <div class="footer-menu-header">Компанія</div>
        <div class="footer-menu-item"><a href="/uk/about/">Про нас</a></div>
        <div class="footer-menu-item">{{#link-to "feedbacks.new"}}Зв'язатися з нами{{/link-to}}</div>
        <div class="footer-menu-item"><a href="/jobs/">Вакансії</a></div>
        <div class="footer-menu-item"><a href="/blog/">Блог</a></div>
      </div>
      <div class="footer-menu-column">
        <div class="footer-menu-header">Підтримка</div>
        <div class="footer-menu-item"><a href="/uk/faq/">ПоП</a></div>
        <div class="footer-menu-item"><a href="#">Центр допомоги</a></div>
        <div class="footer-menu-item"><a href="#">Умови використання</a></div>
        <div class="footer-menu-item"><a href="#">Політика оплати</a></div>
        <div class="footer-menu-item"><a href="https://www.livarava.com/static/livarava/files/privacy-policy-uk.pdf">Політика приватності</a></div>
      </div>
      <div class="footer-menu-column">
        <div class="footer-menu-header">Сервіси</div>
        <div class="footer-menu-item"><a href="/uk/portfolio/">Портфоліо</a></div>
        <div class="footer-menu-item"><a href="/uk/portfolio/">Дизайн та брендування</a></div>
        <div class="footer-menu-item"><a href="/uk/portfolio/">Розробка веб-сервісів</a></div>
        <div class="footer-menu-item"><a href="/uk/portfolio/">Розробка мобільних додатків</a></div>
        <div class="footer-menu-item"><a href="/uk/portfolio/">Копірайт / рерайт</a></div>
      </div>
      <div class="footer-menu-column">
        <div class="footer-menu-header">Спільнота</div>
        <div class="footer-menu-item"><a href="https://www.facebook.com/livarava.ukraine">Facebook</a></div>
        <div class="footer-menu-item"><a href="https://twitter.com/livaravauk">Twitter</a></div>
        <div class="footer-menu-item"><a href="https://plus.google.com/+LivaravaUkraine">Google Plus</a></div>
        <div class="footer-menu-item"><a href="https://www.linkedin.com/company/livarava">LinkedIn</a></div>
        <div class="footer-menu-item"><a href="https://livarava-users.slack.com">Slack</a></div>
      </div>
    </div>

    <div class="footer-copyright row">
      <div class="col-sm-7">
        <div class="footer-copyright-block">© 2008-2015 <a href="/">LivaRava</a></div>
        <div class="footer-warning-block">При використанні матеріалів сайту обов'язковою умовою є наявність гіперпосилання в межах першого абзацу на сторінку розташування вихідної статті із зазначенням бренду LivaRava.</div>
        <div class="footer-menu-block"><a href="/sitemap/">Карта сайту</a> · <a href="/feedback/">Зворотній зв’язок</a> ·</div>
      </div>
    </div>
  </div>
</footer>

{{yield}}
