<ol class="breadcrumb">
  <li>
    {{#link-to "index"}}<i class="fa fa-home"></i> home{{/link-to}}
  </li>
  <li>
    {{#link-to "invoice"}}invoices{{/link-to}}
  </li>
  <li class="active">{{truncate model.title length=30 striptags=true}}</li>
</ol>
{{outlet}}
{{invoice-form model=model save=(route-action "save") delete=(route-action "delete") store=store}}
