<ol class="breadcrumb">
  <li>{{#link-to "index"}}<i class="fa fa-home"></i> home{{/link-to}}</li>
  <li class="active">neuroner</li>
</ol>

<div class="list-group">  
  {{#link-to "neuroner.feeds" class="list-group-item" }}<i class="fa fa-link"></i> Neuroner Feeds{{/link-to}}
  {{#link-to "neuroner.filters" class="list-group-item" }}<i class="fa fa-filter"></i> Neuroner Filters{{/link-to}}
</div>
